.crud{
    padding: 15px;
    border-radius: 25px;
    background-color: #424242;
    display: flex;
    justify-content: space-evenly;
}
input.checkbox{
    height: 25px;
    width: 25px;
}
.bi{
    cursor: pointer;
}
.stats{
    display: flex;
}
.crud .bi{
    color: white;
    font-size: 25px;
    margin-left:20px;
    margin-right: 20px;
}
.cta{
    margin-top: 30px;
}
.stats-select{
    background-color: #424242;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    margin-left: 50px;
}